HUGIN_ENVIRONMENT=development
HUGIN_API_HOST=127.0.0.1
HUGIN_API_PORT=8000
HUGIN_LOG_LEVEL=INFO
HUGIN_DOCKER_PORT=8010
HUGIN_DATABASE_HOST=127.0.0.1
HUGIN_DATABASE_PORT=5432
HUGIN_DATABASE_NAME=hugin
HUGIN_DATABASE_USER=hugin
HUGIN_DATABASE_PASSWORD=replace-with-a-long-random-password
HUGIN_POSTGRES_PORT=5432
HUGIN_HH_BROWSER_TIMEOUT_MS=60000
HUGIN_HH_APPLY_DAILY_LIMIT=10
HUGIN_HH_APPLY_DELAY_MIN_SECONDS=15
HUGIN_HH_APPLY_DELAY_MAX_SECONDS=30
# HUGIN_HH_RESUMES_URL=https://hh.ru/applicant/resumes
# HUGIN_HH_SEARCH_URL=https://hh.ru/search/vacancy
# HUGIN_DATA_DIR=C:\Users\username\AppData\Local\Hugin
