* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.env.example text eol=lf
.python-version text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
Makefile text eol=lf

*.docx binary
